In [ ]:
import pandas as pd
df = pd.read_csv('/home/chityanj/wayup/titanic.csv')
print(df)

## Below are the details of the empty coloumns

In [7]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### below is the total sum of all empty coloumns

In [8]:
df.isnull().sum().sum()

866